body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .clear-fix {
    padding-top: 10px;
  }
  
  .login {
    color: #333333;
    background-color: #000;
    border: 1px solid #f4f4f4;
  }
  
  .login-form {
    padding: 20px;
    border: 2px solid #101010;
    margin: 10px;
  }
  .saveinfo {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .uploader {
    padding-left: 0.5rem;
    margin: 0 1rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.02);
    cursor: pointer;
    display: flex;
    height: 300px;
    justify-content: center;
    outline: 3px dashed #ccc;
    outline-offset: 5px;
    position: relative;
    width: 300px;
    }
    .uploader input {
      display: none;
    }
    .uploader img, .uploader .icon {
      pointer-events: none;
    }
    .uploader, .uploader .icon {
      transition: all 100ms ease-in;
    }
    .uploader .icon {
      color: #eee;
      color: rgba(0, 0, 0, 0.2);
      font-size: 5em;
    }
    .uploader img {
      left: 50%;
      opacity: 0;
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      transition: all 300ms ease-in;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: -1;
    }
    .uploader img.loaded {
      opacity: 1;
    }
 [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='number'],  [type='tel'], [type='time'], [type='url'], [type='color'],
  textarea {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: 0.5rem;
    border: 1px solid #cacaca;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #0a0a0a;
    background-color: #fefefe;
    -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
            box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    border-radius: 0;
    -webkit-transition: -webkit-box-shadow 0.5s, border-color 0.25s ease-in-out;
            transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none; }
   [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
    textarea:focus {
      border: 1px solid #8a8a8a;
      background-color: #fefefe;
      outline: none;
      -webkit-box-shadow: 0 0 5px #cacaca;
              box-shadow: 0 0 5px #cacaca;
      -webkit-transition: -webkit-box-shadow 0.5s, border-color 0.25s ease-in-out;
              transition: box-shadow 0.5s, border-color 0.25s ease-in-out; 
            }
  [class*='close-'] {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
  }
  
  .close-button:after {
    content: 'X'; /* ANSI X letter */
  }
  
  .close-thin:after {
    content: '×'; /* UTF-8 symbol */
  }
  
  .close-thik:after {
    content: '✖'; /* UTF-8 symbol */
  }
  
  .padding-right {
    width: 50%;
    float: left;
    padding: 0 0 50px 0px;
  }
  
  .padding-left {
    width: 50%;
    float: left;
    padding: 0 0 10px 50px;
  }